## Knowledge-based Simple IMDB Recommendation System

In [0]:
FILE_PATH = '/content/drive/My Drive/Recommendation/movies_metadata.csv'

In [0]:
import numpy as np
import pandas as pd
from ast import literal_eval

In [4]:
df = pd.read_csv(FILE_PATH, low_memory=False)

df.head(3).T

                                                                       0  ...                                                  2
adult                                                              False  ...                                              False
belongs_to_collection  {'id': 10194, 'name': 'Toy Story Collection', ...  ...  {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                          30000000  ...                                                  0
genres                 [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                            http://toystory.disney.com/toy-story  ...                                                NaN
id                                                                   862  ...                                              15602
imdb_id                                                        tt0114709  ...                                          tt0113228
original_language                                                     en  ...                                                 en
original_title                                                 Toy Story  ...                                   Grumpier Old Men
overview               Led by Woody, Andy's toys live happily in his ...  ...  A family wedding reignites the ancient feud be...
popularity                                                     21.946943  ...                                            11.7129
poster_path                             /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...                   /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies      [{'name': 'Pixar Animation Studios', 'id': 3}]  ...  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries   [{'iso_3166_1': 'US', 'name': 'United States o...  ...  [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                  1995-10-30  ...                                         1995-12-22
revenue                                                      3.73554e+08  ...                                                  0
runtime                                                               81  ...                                                101
spoken_languages                [{'iso_639_1': 'en', 'name': 'English'}]  ...           [{'iso_639_1': 'en', 'name': 'English'}]
status                                                          Released  ...                                           Released
tagline                                                              NaN  ...  Still Yelling. Still Fighting. Still Ready for...
title                                                          Toy Story  ...                                   Grumpier Old Men
video                                                              False  ...                                              False
vote_average                                                         7.7  ...                                                6.5
vote_count                                                          5415  ...                                                 92

[24 rows x 3 columns]

In [5]:
#Only keep those features that we require 
df = df[['title','genres', 'release_date', 'runtime', 'vote_average', 'vote_count']]

#Convert release_date into pandas datetime format
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

#Extract year from the datetime
df['year'] = df['release_date'].apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

#Helper function to convert NaT to 0 and all other years to integers.
def convert_int(x):
    try:
        return int(x)
    except:
        return 0

#Apply convert_int to the year feature
df['year'] = df['year'].apply(convert_int)

#Drop the release_date column
df = df.drop('release_date', axis=1)

#Convert all NaN into stringified empty lists
df['genres'] = df['genres'].fillna('[]')

#Apply literal_eval to convert stringified empty lists to the list object
df['genres'] = df['genres'].apply(literal_eval)

#Convert list of dictionaries to a list of strings
df['genres'] = df['genres'].apply(lambda x: [i['name'].lower() for i in x] if isinstance(x, list) else [])

df.head()

                         title                        genres  ...  vote_count  year
0                    Toy Story   [animation, comedy, family]  ...      5415.0  1995
1                      Jumanji  [adventure, fantasy, family]  ...      2413.0  1995
2             Grumpier Old Men             [romance, comedy]  ...        92.0  1995
3            Waiting to Exhale      [comedy, drama, romance]  ...        34.0  1995
4  Father of the Bride Part II                      [comedy]  ...       173.0  1995

[5 rows x 6 columns]

In [6]:
#Create a new feature by exploding genres
s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

#Name the new feature as 'genre'
s.name = 'genre'

#Create a new dataframe gen_df which by dropping the old 'genres' feature and adding the new 'genre'.
gen_df = df.drop('genres', axis=1).join(s)

#Print the head of the new gen_df
gen_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

       title  runtime  vote_average  vote_count  year      genre
0  Toy Story     81.0           7.7      5415.0  1995  animation
0  Toy Story     81.0           7.7      5415.0  1995     comedy
0  Toy Story     81.0           7.7      5415.0  1995     family
1    Jumanji    104.0           6.9      2413.0  1995  adventure
1    Jumanji    104.0           6.9      2413.0  1995    fantasy

In [36]:
gen_df.dtypes

title            object
runtime         float64
vote_average    float64
vote_count      float64
year              int64
genre            object
dtype: object

In [0]:
def build_chart(gen_df, percentile=0.8):
    #Ask for preferred genres
    print("Input preferred genre")
    genre = input()
    
    #Ask for lower limit of duration
    print("Input shortest duration")
    low_time = int(input())
    
    #Ask for upper limit of duration
    print("Input longest duration")
    high_time = int(input())
    
    #Ask for lower limit of timeline
    print("Input earliest year")
    low_year = int(input())
    
    #Ask for upper limit of timeline
    print("Input latest year")
    high_year = int(input())
    
    #Define a new movies variable to store the preferred movies. Copy the contents of gen_df to movies
    movies = gen_df.copy()
    
    #Filter based on the condition
    movies = movies[(movies['genre'] == genre) & 
                    (movies['runtime'] >= low_time) & 
                    (movies['runtime'] <= high_time) & 
                    (movies['year'] >= low_year) & 
                    (movies['year'] <= high_year)]
    
    #Compute the values of C and m for the filtered movies
    C = movies['vote_average'].mean()
    m = movies['vote_count'].quantile(percentile)
    
    #Only consider movies that have higher than m votes. Save this in a new dataframe q_movies
    q_movies = movies.copy().loc[movies['vote_count'] >= m]
    
    #Calculate score using the IMDB formula
    q_movies['score'] = q_movies.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) 
                                       + (m/(m+x['vote_count']) * C)
                                       ,axis=1)

    #Sort movies in descending order of their scores
    q_movies = q_movies.sort_values('score', ascending=False)
    
    return q_movies

In [0]:
#Generate the chart for top animation movies and display top 5.
build_chart(gen_df).head()

Input preferred genre
action
Input shortest duration
90
Input longest duration
200
Input earliest year
2010
Input latest year
2015

                              title  runtime  ...   genre     score
15480                     Inception    148.0  ...  action  7.996692
23753       Guardians of the Galaxy    121.0  ...  action  7.769089
24455                    Big Hero 6    102.0  ...  action  7.607688
18252         The Dark Knight Rises    165.0  ...  action  7.478220
25534  Kingsman: The Secret Service    130.0  ...  action  7.420147

[5 rows x 7 columns]

## Content-based Recommendation System

We built an IMDB Top 250 clone (a type of simple recommender) and a knowledge-based recommender that suggested movies based on timeline, genre, and duration. However, these systems were extremely primitive. The simple recommender did not take into consideration an individual user's preferences. The knowledge-based recommender did take account of the user's preference for genres, timelines, and duration, but the model and its recommendations still remained very generic.

#### Now, we are going to build two types of content-based recommender:

- Plot description-based recommender: This model compares the descriptions and taglines of different movies, and provides recommendations that have the most similar plot descriptions.
- Metadata-based recommender: This model takes a host of features, such as genres, keywords, cast, and crew, into consideration and provides recommendations that are the most similar with respect to the aforementioned features

### Plot description based recommender

Our plot description-based recommender will take in a movie title as an argument and output a list of movies that are most similar based on their plots. These are the steps we are going to perform in building this model:

* Obtain the data required to build the model
* Create TF-IDF vectors for the plot description (or overview) of every movie
* Compute the pairwise cosine similarity score of every movie
* Write the recommender function that takes in a movie title as an argument and outputs movies most similar to it based on the plot

In [7]:
#Import the original file
orig_df = pd.read_csv(FILE_PATH, low_memory=False)

#Add the useful features into the cleaned dataframe
df['overview'], df['id'] = orig_df['overview'], orig_df['id']

df.head()

                         title  ...     id
0                    Toy Story  ...    862
1                      Jumanji  ...   8844
2             Grumpier Old Men  ...  15602
3            Waiting to Exhale  ...  31357
4  Father of the Bride Part II  ...  11862

[5 rows x 8 columns]

In [0]:
#Import TfIdfVectorizer from the scikit-learn library
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stopwords
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df['overview'] = df['overview'].fillna('')

#Construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
tfidf_matrix = tfidf.fit_transform(df['overview'])

In [0]:
# # Import linear_kernel to compute the dot product
# from sklearn.metrics.pairwise import linear_kernel

# # Compute the cosine similarity matrix
# cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# #Construct a reverse mapping of indices and movie titles, and drop duplicate titles, if any
# indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [0]:
# Function that takes in movie title as input and gives recommendations 
def content_recommender(title, cosine_sim=cosine_sim, df=df, indices=indices):
    # Obtain the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies. Ignore the first movie.
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [0]:
#Get recommendations for The Lion King
content_recommender('The Lion King')

34682    How the Lion Cub and the Turtle Sang a Song
9353                                The Lion King 1½
9115                  The Lion King 2: Simba's Pride
42829                                           Prey
25654                                 Fearless Fagan
17041                                   African Cats
27933              Massaï, les guerriers de la pluie
6094                                       Born Free
37409                                     Sour Grape
3203                                The Waiting Game
Name: title, dtype: object

### Metadata Based Recommender
To build this model, we will be using the following metdata:

* The genre of the movie.
* The director of the movie. This person is part of the crew.
* The movie's three major stars. They are part of the cast.
* Sub-genres or keywords.


With the exception of genres, our DataFrames (both original and cleaned) do not contain the data that we require. Therefore, for this exercise, we will need to download two additional files: credits.csv, which contains information on the cast and crew of the movies, and keywords.csv, which contains information on the sub-genres

In [0]:
# !wget -x --load-cookies cookies.txt "https://www.kaggle.com/rounakbanik/the-movies-dataset/download/zPeWVcFHd4FVILkEkFTP%2Fversions%2FUr5p8EUb593KaWc1xRXm%2Ffiles%2Fcredits.csv?datasetVersionNumber=7" -O credits.zip
# !unzip credits.zip

# !wget -x --load-cookies cookies.txt "https://www.kaggle.com/rounakbanik/the-movies-dataset/download/zPeWVcFHd4FVILkEkFTP%2Fversions%2FUr5p8EUb593KaWc1xRXm%2Ffiles%2Fkeywords.csv?datasetVersionNumber=7" -O keywords.zip
# !unzip keywords.zip

In [0]:
# Load the keywords and credits files
cred_df = pd.read_csv('credits.csv')
key_df = pd.read_csv('keywords.csv')

In [10]:
#Print the head of the credit dataframe
cred_df.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [11]:
#Print the head of the keywords dataframe
key_df.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [12]:
# Function to convert all non-integer IDs to NaN
def clean_ids(x):
    try:
        return int(x)
    except:
        return np.nan

#Clean the ids of df
df['id'] = df['id'].apply(clean_ids)

#Filter all rows that have a null ID
df = df[df['id'].notnull()]

# Convert IDs into integer
df['id'] = df['id'].astype('int')
key_df['id'] = key_df['id'].astype('int')
cred_df['id'] = cred_df['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
df = df.merge(cred_df, on='id')
df = df.merge(key_df, on='id')

#Display the head of df
df.head()

                         title  ...                                           keywords
0                    Toy Story  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1                      Jumanji  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2             Grumpier Old Men  ...  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3            Waiting to Exhale  ...  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  Father of the Bride Part II  ...  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

[5 rows x 11 columns]

In [0]:
# Convert the stringified objects into the native python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords']
for feature in features:
    df[feature] = df[feature].apply(literal_eval)

In [14]:
# Extract the director's name. If director is not listed, return NaN
def get_director(x):
    for crew_member in x:
        if crew_member['job'] == 'Director':
            return crew_member['name']
    return np.nan

#Define the new director feature
df['director'] = df['crew'].apply(get_director)

# Returns the list top 3 elements or entire list; whichever is more.
def generate_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

#Apply the generate_list function to cast and keywords
df['cast'] = df['cast'].apply(generate_list)
df['keywords'] = df['keywords'].apply(generate_list)

#Only consider a maximum of 3 genres
df['genres'] = df['genres'].apply(lambda x: x[:3])

# Print the new features of the first 5 movies along with title
df[['title', 'cast', 'director', 'keywords', 'genres']].head()

                         title  ...                        genres
0                    Toy Story  ...   [animation, comedy, family]
1                      Jumanji  ...  [adventure, fantasy, family]
2             Grumpier Old Men  ...             [romance, comedy]
3            Waiting to Exhale  ...      [comedy, drama, romance]
4  Father of the Bride Part II  ...                      [comedy]

[5 rows x 5 columns]

In [0]:
# Function to sanitize data to prevent ambiguity. It removes spaces and converts to lowercase
def sanitize(x):
    if isinstance(x, list):
        #Strip spaces and convert to lowercase
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

#Apply the generate_list function to cast, keywords, director and genres
for feature in ['cast', 'director', 'genres', 'keywords']:
    df[feature] = df[feature].apply(sanitize)

In [16]:
#Function that creates a soup out of the desired metadata
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])
  
# Create the new soup feature
df['soup'] = df.apply(create_soup, axis=1)

#Display the soup of the first movie
df.iloc[0]['soup']

'jealousy toy boy tomhanks timallen donrickles johnlasseter animation comedy family'

In [0]:
# Import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

#Define a new CountVectorizer object and create vectors for the soup
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df['soup'])

In [0]:
#Import cosine_similarity function
from sklearn.metrics.pairwise import cosine_similarity

#Compute the cosine similarity score (equivalent to dot product for tf-idf vectors)
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [0]:
# Reset index of your df and construct reverse mapping again
df = df.reset_index()
indices2 = pd.Series(df.index, index=df['title'])

In [0]:
content_recommender('The Lion King', cosine_sim2, df, indices2)

## Collaborative Filtering Recommendation System

In [0]:
BASE_PATH = '/content/drive/My Drive/Recommendation'
import os
import pandas as pd
import numpy as np

In [11]:
#Load the u.user file into a dataframe
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv(os.path.join(BASE_PATH,'u.user'), sep='|', 
                    names=u_cols, encoding='latin-1')

users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [13]:
#Load the u.item file into a dataframe
i_cols = ['movie_id', 'title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

movies = pd.read_csv(os.path.join(BASE_PATH,'u.item'), sep='|', names=i_cols, encoding='latin-1')

#Remove all information except Movie ID and title
movies = movies[['movie_id', 'title']]

movies.head()

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [14]:
#Load the u.data file into a dataframe
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']

ratings = pd.read_csv(os.path.join(BASE_PATH,'u.data'), sep='\t', 
                      names=r_cols, encoding='latin-1')

ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [0]:
#Drop the timestamp column
ratings = ratings.drop('timestamp', axis=1)

In [0]:
#Import the train_test_split function
from sklearn.model_selection import train_test_split

#Assign X as the original ratings dataframe and y as the user_id column of ratings.
X = ratings.copy()
y = ratings['user_id']

#Split into training and test datasets, stratified along user_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, stratify=y, random_state=42)

In [0]:
#Import the mean_squared_error function
from sklearn.metrics import mean_squared_error

#Function that computes the root mean squared error (or RMSE)
def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

In [0]:
#Define the baseline model to always return 3.
def baseline(user_id, movie_id):
    return 3.0

In [0]:
#Function to compute the RMSE score obtained on the testing set by a model
def score(cf_model):
    
    #Construct a list of user-movie tuples from the testing dataset
    id_pairs = zip(X_test['user_id'], X_test['movie_id'])
    
    #Predict the rating for every user-movie tuple
    y_pred = np.array([cf_model(user, movie) for (user, movie) in id_pairs])
    
    #Extract the actual ratings given by the users in the test data
    y_true = np.array(X_test['rating'])
    
    #Return the final RMSE score
    return rmse(y_true, y_pred)

In [20]:
score(baseline)

1.2470926188539486

In [0]:
# !pip install surprise

In [29]:
#Import the required classes and methods from the surprise library
from surprise import Reader, Dataset, KNNBasic
from surprise.model_selection import cross_validate

#Define a Reader object
#The Reader object helps in parsing the file or dataframe containing ratings
reader = Reader()

#Create the dataset to be used for building the filter
data = Dataset.load_from_df(ratings, reader)

#Define the algorithm object; in this case kNN
knn = KNNBasic()

#Evaluate the performance in terms of RMSE
cross_validate(knn, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9777  0.9851  0.9775  0.9729  0.9799  0.9786  0.0040
MAE (testset)     0.7746  0.7765  0.7715  0.7674  0.7740  0.7728  0.0031
Fit time          0.28    0.31    0.31    0.33    0.32    0.31    0.02
Test time         3.27    3.38    3.37    3.37    3.34    3.35    0.04

{'fit_time': (0.27971434593200684,
  0.3067657947540283,
  0.31373143196105957,
  0.3264021873474121,
  0.3208339214324951),
 'test_mae': array([0.77458882, 0.77645467, 0.7715189 , 0.76738785, 0.77401518]),
 'test_rmse': array([0.97773048, 0.98511977, 0.97746138, 0.97290043, 0.97987502]),
 'test_time': (3.2722461223602295,
  3.3842949867248535,
  3.3667330741882324,
  3.373469591140747,
  3.3434014320373535)}

In [30]:
#Import SVD
from surprise import SVD

#Define the SVD algorithm object
svd = SVD()

#Evaluate the performance in terms of RMSE
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9372  0.9345  0.9327  0.9307  0.9430  0.9356  0.0043
MAE (testset)     0.7393  0.7374  0.7342  0.7323  0.7447  0.7376  0.0043
Fit time          4.74    4.74    4.76    4.75    4.76    4.75    0.01
Test time         0.13    0.21    0.13    0.22    0.14    0.17    0.04

{'fit_time': (4.738321304321289,
  4.743545055389404,
  4.757347583770752,
  4.748668193817139,
  4.760162353515625),
 'test_mae': array([0.73928412, 0.7374334 , 0.73417929, 0.73231648, 0.74470913]),
 'test_rmse': array([0.937171  , 0.93451129, 0.93272378, 0.93072205, 0.94303361]),
 'test_time': (0.13300681114196777,
  0.2145528793334961,
  0.1327509880065918,
  0.21845436096191406,
  0.1380147933959961)}

## Hybrid Recommendation System

In other words, the workflow of our hybrid model will be as follows:

* Take in a movie title and user as input
* Use a content-based model to compute the 25 most similar movies
* Compute the predicted ratings that the user might give these 25 movies using a collaborative filter
* Return the top 10 movies with the highest predicted rating

In [0]:
#Import or compute the cosine sim mapping matrix
cosine_sim_map = pd.read_csv('../data/cosine_sim_map.csv', header=None)

#Convert cosine_sim_map into a Pandas Series
cosine_sim_map = cosine_sim_map.set_index(0)
cosine_sim_map = cosine_sim_map[1]

In [0]:
#Build the SVD based Collaborative filter
from surprise import SVD, Reader, Dataset

reader = Reader()
ratings = pd.read_csv('../data/ratings_small.csv')
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds=5)
svd = SVD()
trainset = data.build_full_trainset()
svd.train(trainset)

In [0]:
#Build title to ID and ID to title mappings
id_map = pd.read_csv('../data/movie_ids.csv')
id_to_title = id_map.set_index('id')
title_to_id = id_map.set_index('title')

In [0]:
#Import or compute relevant metadata of the movies
smd = pd.read_csv('../data/metadata_small.csv')

In [0]:
def hybrid(userId, title):
    #Extract the cosine_sim index of the movie
    idx = cosine_sim_map[title]
    
    #Extract the TMDB ID of the movie
    tmdbId = title_to_id.loc[title]['id']
    
    #Extract the movie ID internally assigned by the dataset
    movie_id = title_to_id.loc[title]['movieId']
    
    #Extract the similarity scores and their corresponding index for every movie from the cosine_sim matrix
    sim_scores = list(enumerate(cosine_sim[str(int(idx))]))
    
    #Sort the (index, score) tuples in decreasing order of similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    #Select the top 25 tuples, excluding the first 
    #(as it is the similarity score of the movie with itself)
    sim_scores = sim_scores[1:26]
    
    #Store the cosine_sim indices of the top 25 movies in a list
    movie_indices = [i[0] for i in sim_scores]

    #Extract the metadata of the aforementioned movies
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    
    #Compute the predicted ratings using the SVD filter
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, id_to_title.loc[x]['movieId']).est)
    
    #Sort the movies in decreasing order of predicted rating
    movies = movies.sort_values('est', ascending=False)
    
    #Return the top 10 movies as recommendations
    return movies.head(10)

In [0]:
hybrid(1, 'Avatar')